In [2]:
import requests
import os
#import scrapy
import xml
from bs4 import BeautifulSoup
import pandas as pd
import re
from zipfile import ZipFile
import sqlite3
import openpyxl as xl

In [ ]:
Domain = 'http://mis.ercot.com'
url = 'http://mis.ercot.com/misapp/GetReports.do?reportTypeId=13061&reportTitle=Historical%20RTM%20Load%20Zone%20and%20Hub%20Prices&showHTMLView=&mimicKey'
filetype = 'zip'

In [ ]:
soup = BeautifulSoup(requests.get(url).text, 'html.parser')
file_list = soup.find_all(class_='labelOptional_ind')
link_list = soup.findAll('a', attrs={'href': re.compile("/misdownload/")})

In [ ]:
b = link_list[0]
print(b)
print(b.next_element)

In [ ]:

link_name_list = []

for link in link_list:
    link_name_list.append(link.get('href'))

folder_name_list = []    
    
for class_ in file_list:
    folder_name_list.append(str(class_.next_element))

In [ ]:
data_dict = {'ZipFolderName':folder_name_list, 'DownLoadLink':link_name_list}

In [ ]:
for i in range(len(download_df)):
    file_name = download_df['ZipFolderName'][i]
    link_name = download_df['DownLoadLink'][i]
    with open(file_name, 'wb') as file:
        response = requests.get(Domain + link_name)
        file.write(response.content)

In [ ]:
for file in os.listdir():
    if '.zip' in file:
        with ZipFile(file, 'r') as zipObj:
            zipObj.extractall()

In [4]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [5]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except (TypeError, NameError) as e:
        print(e)

In [6]:
conn = create_connection('LMP_DB.db')

In [ ]:
sql_create_lmp_table = ''' Create Table if not exists ercot_hist_spp (
                                    DELIVERY_DATE text,
                                    DELIVERY_HOUR integer,
                                    DELIVERY_INTERVAL integer,
                                    REPEATED_HOUR_FLAG text,
                                    SETTLEMENT_POINT_NAME text,
                                    SETTLEMENT_POINT_TYPE text,
                                    SETTLEMENT_POINT_PRICE real);
                                '''

create_table(conn, sql_create_lmp_table)

In [22]:
df_1 = pd.read_sql_query("Select delivery_date, delivery_hour, settlement_point_name, avg(settlement_point_price) as spp from ercot_hist_spp group by delivery_date, delivery_hour, settlement_point_name ", conn)

In [23]:
df_1

               DELIVERY_DATE  DELIVERY_HOUR SETTLEMENT_POINT_NAME    spp
0                 01/01/2011            1.0             HB_BUSAVG  23.73
1                 01/01/2011            1.0            HB_HOUSTON  23.73
2                 01/01/2011            1.0             HB_HUBAVG  23.73
3                 01/01/2011            1.0              HB_NORTH  23.73
4                 01/01/2011            1.0              HB_SOUTH  23.73
...                      ...            ...                   ...    ...
1311641  2018-01-01 00:00:00            NaN                  None    NaN
1311642  2019-01-01 00:00:00            NaN                  None    NaN
1311643  2020-01-01 00:00:00            NaN                  None    NaN
1311644  2021-01-01 00:00:00            NaN                  None    NaN
1311645  2021-06-13 00:00:00            NaN                  None    NaN

[1311646 rows x 4 columns]

In [19]:
df = pd.read_sql_query("Select *  from ercot_hist_spp where settlement_point_price isnull", conn)

In [20]:
df

,DELIVERY_DATE,DELIVERY_HOUR,DELIVERY_INTERVAL,REPEATED_HOUR_FLAG,SETTLEMENT_POINT_NAME,SETTLEMENT_POINT_TYPE,SETTLEMENT_POINT_PRICE
0,2013-06-14 00:00:00,None,None,10,None,11:20:57.000000,None
1,2013-06-14 00:00:00,None,None,15,None,09:48:00.999000,None
2,2014-01-01 00:00:00,None,None,16,None,08:00:20.000000,None
3,2015-01-01 00:00:00,None,None,16,None,08:00:20.999000,None
4,2016-01-01 00:00:00,None,None,16,None,08:00:27.000000,None
5,2017-01-01 00:00:00,None,None,16,None,08:00:17.999000,None
6,2018-01-01 00:00:00,None,None,10,None,08:00:24.000000,None
7,2019-01-01 00:00:00,None,None,10,None,08:00:24.000000,None
8,2020-01-01 00:00:00,None,None,10,None,08:00:39.000000,None
9,2021-01-01 00:00:00,None,None,10,None,08:03:53.000000,None
10,2021-06-13 00:00:00,None,None,10,None,08:03:02.000000,None

In [ ]:
column_dict = {'Delivery Date':'DELIVERY_DATE'
               , 'Delivery Hour':'DELIVERY_HOUR'
               ,'Delivery Interval':'DELIVERY_INTERVAL'
               ,'Repeated Hour Flag':'REPEATED_HOUR_FLAG'
               ,'Settlement Point Name':'SETTLEMENT_POINT_NAME'
               ,'Settlement Point Type':'SETTLEMENT_POINT_TYPE'
               ,'Settlement Point Price':'SETTLEMENT_POINT_PRICE'}

for file in os.listdir():
    if '.xlsx' in file:
        print(file)
        wb = xl.load_workbook(file, read_only=True)
        for sheet in wb.sheetnames:
            print(sheet)
            upload_sheet = pd.read_excel(file, sheet_name=sheet, engine='openpyxl')
            upload_sheet.rename(columns=column_dict, inplace=True)
            upload_sheet.to_sql(name='ercot_hist_spp', con=conn, if_exists='append', index=False)